
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    /* background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 51%); */
    background-repeat: no-repeat;
    height: 97.6vh;
    background: rgba(20,20,20,1);
background: -moz-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 61%, rgba(71,71,71,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,20,20,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(61%, rgba(31,31,31,1)), color-stop(100%, rgba(71,71,71,1)));
background: -webkit-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 61%, rgba(71,71,71,1) 100%);
background: -o-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 61%, rgba(71,71,71,1) 100%);
background: -ms-linear-gradient(top, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 61%, rgba(71,71,71,1) 100%);
background: linear-gradient(to bottom, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 61%, rgba(71,71,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#474747', GradientType=0 );
}
/* TYPO */

.roboto-m {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
  }

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.Main__display{
    width: 100%;
}

.Section {
    width: 1440px;
}
/* N A V I G A T I O N */
.UL__section{
    display: flex;
    justify-content: space-between;

}
.UL__menu {
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
    font-size: 22px;
    height: 100px;
    flex-wrap: wrap;
    gap: 5px;
}
.right__menu { 
    margin-right: 20px;
}
.left__menu {
    gap:100px ;
}

.A__class {
    text-decoration: none;
    color: whitesmoke;
}

/* G A L L E R Y  */
/* ::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 10px;
}
::-webkit-scrollbar-button{
    background-color: red;
} */
.Car__Gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    height: 500px;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
   /* overflow:scroll; */
   
}


.benz {
    background-image: url(/IMG/Rectangle\ 2benz.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    transition: 0.3s;
    border-radius: 21px;
    cursor: pointer;
}
.car__divv:hover {
    -webkit-box-shadow: 0px 0px 46px -5px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 46px -5px rgba(255,255,255,1);
box-shadow: 0px 0px 46px -5px rgba(255,255,255,1);
    margin-top: -20px;
    transition: 0.3s;
}
.bmw {
background-image: url(/IMG/Rectangle\ 5bmw.png);
width: 400px;
height: 200px;
background-repeat: no-repeat;
display: flex;
flex-direction: column-reverse;
border-radius: 21px;
transition: 0.3s;
cursor: pointer;
}
.audi {
    background-image: url(/IMG/Rectangle\ 6audi.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 21px;
    transition: 0.3s;
    cursor: pointer;
}
.ford {
    background-image: url(/IMG/Rectangle\ 7ford.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 21px;
    transition: 0.3s;
    cursor: pointer;
}
.lamborghini {
    background-image: url(/IMG/Rectangle\ 4lambo.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 21px;
    transition: 0.3s;
    cursor: pointer;
}
.ferrari {
    background-image: url(/IMG/Rectangle\ 3ferrari.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 21px;
    transition: 0.3s;
    cursor: pointer;
}
.car__name {
    color: white;
    margin-left: 10px;

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: WHITE;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom ;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom ;
  }
